@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
  font-family: 'Kanit', sans-serif;
  height: 100%;
  width: 100%;
}





#app {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
}

.app {
  max-width: 500px;
  margin: auto;
  height: 100%;
  overflow-y: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
